{%extends 'Template.html'%}
{%block title%}
Dashboard
{%endblock%}

{%block content%}
<style>
    .card-dash {
        border-radius: 10px;
        display: table;
        position: relative;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    .card-dash-title {
        font-weight: bold;
        border: 5px;
        padding: 10px;
    }
    @keyframes glitch-1 {
  0% {
    clip: rect(132px, 480px, 101px, 30px);
  }
  5% {
    clip: rect(17px, 480px, 94px, 30px);
  }
  10% {
    clip: rect(40px, 480px, 66px, 30px);
  }
  15% {
    clip: rect(87px, 480px, 82px, 30px);
  }
  20% {
    clip: rect(137px, 480px, 61px, 30px);
  }
  25% {
    clip: rect(34px, 480px, 14px, 30px);
  }
  30% {
    clip: rect(133px, 480px, 74px, 30px);
  }
  35% {
    clip: rect(76px, 480px, 107px, 30px);
  }
  40% {
    clip: rect(59px, 480px, 130px, 30px);
  }
  45% {
    clip: rect(29px, 480px, 84px, 30px);
  }
  50% {
    clip: rect(22px, 480px, 67px, 30px);
  }
  55% {
    clip: rect(67px, 480px, 62px, 30px);
  }
  60% {
    clip: rect(10px, 480px, 105px, 30px);
  }
  65% {
    clip: rect(78px, 480px, 115px, 30px);
  }
  70% {
    clip: rect(105px, 480px, 13px, 30px);
  }
  75% {
    clip: rect(15px, 480px, 75px, 30px);
  }
  80% {
    clip: rect(66px, 480px, 39px, 30px);
  }
  85% {
    clip: rect(133px, 480px, 73px, 30px);
  }
  90% {
    clip: rect(36px, 480px, 128px, 30px);
  }
  95% {
    clip: rect(68px, 480px, 103px, 30px);
  }
  100% {
    clip: rect(14px, 480px, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, 480px, 36px, 30px);
  }
  5% {
    clip: rect(36px, 480px, 4px, 30px);
  }
  10% {
    clip: rect(85px, 480px, 66px, 30px);
  }
  15% {
    clip: rect(91px, 480px, 91px, 30px);
  }
  20% {
    clip: rect(148px, 480px, 138px, 30px);
  }
  25% {
    clip: rect(38px, 480px, 122px, 30px);
  }
  30% {
    clip: rect(69px, 480px, 54px, 30px);
  }
  35% {
    clip: rect(98px, 480px, 71px, 30px);
  }
  40% {
    clip: rect(146px, 480px, 34px, 30px);
  }
  45% {
    clip: rect(134px, 480px, 43px, 30px);
  }
  50% {
    clip: rect(102px, 480px, 80px, 30px);
  }
  55% {
    clip: rect(119px, 480px, 44px, 30px);
  }
  60% {
    clip: rect(106px, 480px, 99px, 30px);
  }
  65% {
    clip: rect(141px, 480px, 74px, 30px);
  }
  70% {
    clip: rect(20px, 480px, 78px, 30px);
  }
  75% {
    clip: rect(133px, 480px, 79px, 30px);
  }
  80% {
    clip: rect(78px, 480px, 52px, 30px);
  }
  85% {
    clip: rect(35px, 480px, 39px, 30px);
  }
  90% {
    clip: rect(67px, 480px, 70px, 30px);
  }
  95% {
    clip: rect(71px, 480px, 103px, 30px);
  }
  100% {
    clip: rect(83px, 480px, 40px, 30px);
  }
}
</style>
<div class="dash">
    <div class="glitch">
        <h4  class="text" data-text="Hello, {{user.username}}">Hello, {{user.username}}</h4>
    </div>
    <hr class="solid">
    <div class="row">
        <div class="col s12 m12">
            <a href="{% url 'Create'%}" class="glowing">Create A Product</a>
            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bolder;">Products OnSale</span>
                    <br />
                    <span class="card-dash-title">
                        Desktops
                    </span>
                    {%if Desk%}
                    {%for i in Desk%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        {{i.Name}}

                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/Desktops/{{i.Name}}/Delete"><span
                                class="material-icons" style="float: right;">
                                delete_outline
                            </span></a>
                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/Desktops/{{i.Name}}/Edit"><span
                            class="material-icons" style="float: right;">
                            create
                        </span></a>
                    </span>
                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Products to Display</p>
                    {%endif%}
                    <br />
                    <span class="card-dash-title">
                        Laptops
                    </span>
                    {%if Lap%}
                    {%for i in Lap%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        {{i.Name}}

                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/Laptops/{{i.Name}}/Delete"><span class="material-icons"
                                style="float: right;">
                                delete_outline
                            </span></a>
                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/Laptops/{{i.Name}}/Edit"><span
                            class="material-icons" style="float: right;">
                            create
                        </span></a>
                    </span>
                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Products to Display</p>
                    {%endif%}
                    <br />
                </div>
            </div>

            <br />
            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bolder;">Pending Deliveries</span>
                    {%if OrdersP%}
                    {%for i in OrdersP%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        #{{i.Order_id}} By {{i.User}} for {{i.Product_Name}}
                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/{{i.Order_id}}/Confirm"><span class="material-icons" style="float: right;">
                            check
                        </span></a>
                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/{{i.Order_id}}/Cancel"><span class="material-icons"
                                style="float: right;">
                                delete_outline
                            </span></a>
                    </span>

                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Pending Deliveries</p>
                    {%endif%}
                </div>
            </div>
            
            <br />
            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bolder;">Deliveries Done</span>
                    {%if OrdersD%}
                    {%for i in OrdersD%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        #{{i.Order_id}} By {{i.User}} for {{i.Product_Name}}
                    </span>
                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Deliveries Made</p>
                    {%endif%}
                </div>
            </div>

            <br />
            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bolder;">Cancelled Deliveries</span>
                    {%if OrdersC%}
                    {%for i in OrdersC%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        #{{i.Order_id}} By {{i.User}} for {{i.Product_Name}}
                    </span>

                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Cancelled Deliveries</p>
                    {%endif%}
                </div>
            </div>

            <br />

            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bolder;">Refund Requests</span>
                    {%if OrdersRR%}
                    {%for i in OrdersRR%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        #{{i.Order_id}} By {{i.User}} for {{i.Product_Name}}
                        <a href= "https://gamer-zoned.herokuapp.com/Dashboard/{{i.Order_id}}/Refund"><span class="material-icons" style="float: right;">
                            check
                        </span></a>
                    </span>

                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Refund Requests</p>
                    {%endif%}
                </div>
            </div>

            <br />
            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bolder;">Refunded Deliveries</span>
                    {%if OrdersR%}
                    {%for i in OrdersR%}
                    <span class="card-dash hoverable" style="background-color: #ff005e;">
                        #{{i.Order_id}} By {{i.User}} for {{i.Product_Name}}
                        <span class="material-icons" style="float: right;">
                            create
                        </span>
                        <a href="https://gamer-zoned.herokuapp.com/Dashboard/{{i.Order_id}}/Delete"><span class="material-icons"
                                style="float: right;">
                                delete_outline
                            </span></a>
                    </span>

                    {%endfor%}
                    {%else%}
                    <p style="text-align: center; color: grey;">No Refunded Deliveries</p>
                    {%endif%}
                </div>
            </div>
         
        </div>
    </div>
</div>

{%endblock%}