{%extends 'Template.html'%}
{%block content%}
{%load static%}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static "1st.jpg" %}"> 
        <div class="caption center-align" style="text-shadow: 2px 2px #000000;">
          <h3>YOUR GF BEING A BITCH?</h3>
          <h5 class="light grey-text text-lighten-3">GET OUR TOP CLASS GAMING DESKTOPS AND DITCH HER!</h5>
        </div>
      </li>
      <li>
        <img src="{% static "2nd.jpg" %}"> 
        <div class="caption left-align" style="text-shadow: 2px 2px #000000;">
          <h3>ONE SHOT ONE KILL</h3>
          <h5 class="light grey-text text-lighten-3">CLAP YOUR OPPONENTS AND MAKE THEM RAGE QUIT WITH 240Hz DISPLAY</h5>
        </div>
      </li>
      <li>
        <img src="{% static "3rd.jpg" %}"> 
        <div class="caption right-align" style="text-shadow: 2px 2px #000000;">
          <h3>USE OUR INBUILT MACRO</h3>
          <h5 class="light grey-text text-lighten-3">TO ASSIGN A KEY TO TYPE 'GET REKT BITCH' IN THE CHAT</h5>
        </div>
      </li>
      <li>
        <img src="{% static "4th.jpg" %}"> 
        <div class="caption center-align " style="text-shadow: 2px 2px #000000;">
          <h3>#PCMASTERRACE</h3>
          <h5 class="light grey-text text-lighten-3" >DUH GTFO FROM THE SITE IF YOU'RE LOOKING FOR A CONSOLE</h5>
        </div>
      </li>
    </ul>
  </div>
  <script>
  $(document).ready(function(){
    $('.slider').slider();
  });
  </script>
{%endblock%}