{%extends 'Template.html'%}
{%block content%}
<style>
	.card-panel {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-35%);
		animation: myanimation3 2s infinite;
		background-color: #060c21;
	}

	.card-panel .card-content span.card-title {
		color: white;
	}


	@keyframes myanimation3 {
		0% {
			box-shadow: 0 0 10px, 0 0 40px, 0 0 80px;
		}

		50% {
			box-shadow: 0 0 10px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
		}

		100% {
			box-shadow: 0 0 10px, 0 0 40px, 0 0 80px;
		}

	}
</style>

</head>

<body>

	<a class="neon" href="" style=" position: absolute;top: 10%;left: 40%;">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<i class="material-icons right">home</i>Goto Home</a>
	<div class="card-panel">
		<div class="card-content">
			<span class="card-title">Login</span>
			<form id="Form" method="POST" action="">
				{% csrf_token %}
			<input name="username" placeholder="Username..." style="color: white;">
			<input type="password" name="password" placeholder="Password..."style="color: white;">
			<a href="javascript:{}" onclick="document.getElementById('Form').submit();" class="neon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login</a>
			<a href="{% url 'register' %}" class="neon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				Sign Up</a>
			</form>
	{%endblock%}