{%extends 'Template.html'%}
{%block title%}
{{Product.Name}}
{%endblock%}
{%block content%}
<style>
  textarea {
 resize: none;
}
</style>


<div class="slider">
  <ul class="slides">
    <li>
      <img src="{{Product.Image1}}">
    </li>
    <li>
      <img src="{{Product.Image2}}">
    </li>
    <li>
      <img src="{{Product.Image3}}">
    </li>
    <li>
      <img src="{{Product.Image4}}">
    </li>
    <li>
      <img src="{{Product.Image5}}">
    </li>
  </ul>
</div>

<div class="row">
  <div class="col s12 m8">
<div class="card-panel" style="background-color: #070f2a;color: white;margin-left:20px">
  <div class="card-content">
    <h4><span class="card-title" style="font-weight: bolder;">{{Product.Name}}</span></h4>
    <hr class="solid">
    <span>{{Product.Desc}}</span>
    <br/>
    <table style="background: rgba(255, 255, 255, .1);">
      <tbody>
        <tr>
          <td>CPU-BRAND</td>
          <td>{%if Product.CPU == '1'%}Intel{%else%}AMD{%endif%}</td>
        </tr>
        <tr>
          <td>CPU</td>
          <td>{{Product.CPU_MODEL}}</td>
        </tr>
        <tr>
          <td>RAM-TYPE</td>
          <td>{%if Product.RAM == '1'%}DDR3{%else%}DDR4{%endif%}</td>
        </tr>
        <tr>
          <td>RAM-SPEED</td>
          <td>{{Product.RAM_SPEED}}</td>
        </tr>
        <tr>
          <td>GPU BRAND</td>
          <td>{%if Product.GPU == '1'%}Nvidia{%else%}AMD{%endif%}</td>
        </tr>
        <tr>
          <td>GPU MODEL</td>
          <td>{{Product.GPU_Model}}</td>
        </tr>
        <tr>
          <td>SSD</td>
          <td>{%if Product.SSD == False%}Not Available{%else%}Available{%endif%}</td>
        </tr>
        {%if Product.SSD%}
        <tr>
          <td>SSD BRAND</td>
          <td>{{Product.SSD_BRAND}}</td>
        </tr>
        {%endif%}
        <tr>
          <td>HDD</td>
          <td>{%if Product.HDD == '1'%}2 TB{%else%}1 TB{%endif%}</td>
        </tr>
          <td>OS</td>
          <td>{{Product.OS}}</td>
        </tr>
        <tr>
          <td>WARRANTY</td>
          <td>{{Product.WARRANTY}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="col s12 m4">
<div class="card-panel" style="background-color: #070f2a;color: white;">
  <div class="card-content">
    Sold By: {{Product.Dealer}}
    <br/>
    Product Listed On: {{Product.date}}
    <br/>
    Price: ${{Product.Price}}
    
    <br/>
    <br/>
    {%if user.is_authenticated%}
    <a class="neon" onclick="addtocart()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Add to Cart
  </a>
  {%else%}
  <span class= "money" style = "float: left;">Login to buy the Product.</span>
  {%endif%}
  
    </div>
  </div>
</div>
<div class="col s12 m4">
  <div class="card-panel" style="background-color: #070f2a;color: white;">
    <div class="card-content">
      <span class="card-title"><h5>Rating</h5></span>
      <hr>
      <div class="rating">
        <form action="{%url 'Rating'%}">
          {%csrf_token%}
        <input type="checkbox" name = "star" value="1"><label for = "star1"></label>
        <input type="checkbox" name = "star" value="2"><label for = "star2"></label>
        <input type="checkbox" name = "star" value="3"><label for = "star3"></label>
        <input type="checkbox" name = "star" value="4"><label for = "star4"></label>
        <input type="checkbox" name = "star" value="5"><label for = "star5"></label>
      </form>
      </div>
    </div>
</div>
</div>

<div class="row">
<div class="col s12 m8">
<div class="card-panel" style="background-color: #070f2a;color: white;margin-left:20px">
  <div class="card-content">
    <h4><span class="card-title" style="font-weight: bolder;">Comments</span></h4>
    <hr class="solid">
    <br/>
    {%if user.is_authenticated%}
    <span class="card-title" style="font-weight: bolder;">Add Comment</span>
    <form method = "POST" action= "https://gamer-zoned.herokuapp.com/AddComment/" id = "Comment">
      {%csrf_token%}
      <input type="hidden" name="next" value="{{ request.path }}">
      <input type="hidden" name="Product" value="{{Product.Name}}">
      <textarea  name="Comment" maxlength="150" style="color:white;"></textarea>
    </form>
    <a class="neon" onclick="AddComment()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit Comment
  </a>
  {%else%}
  <span class= "money" style = "float: left;">You need to Login to comment</span>
  <br>
  <br>
  {%endif%}
  <hr class="solid">
  <br>
  
</div>
{%if Comments%}
{%for i in Comments%}
<div class="card-content hoverable" style = "background: rgba(255, 255, 255, .1); padding: 20px;border-radius: 25px;">
    <div class="card-title">
      <h6 class = "money" style="float:left;">{{i.User}}</h6> 
      <br>
      <br>
      <span style="color: grey;">Date Added: {{i.Date}}</span>
    </div>
    <hr>
    <span style="padding:10px;">{{i.Comment}}</span>
</div>
<br>
{%endfor%}
<hr>
{%else%}
<span class= "money" style = "float: left;">No Comments Yet. Maybe You can add one :)</span>
<br>
<hr>
{%endif%}
<br>
</div>
</div>
</div>



<form id = "cart" method="POST" action='https://gamer-zoned.herokuapp.com/SubmitItem/'>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}">
  <input id = "Name" name="Name" type="hidden">
  <input id = "Price" name="Price" type="hidden">
</form>
<script>
  function AddComment(){
    document.getElementById('Comment').submit();
  }
  function addtocart() {
  document.getElementById('Name').value= "{{Product.Name}}";
  document.getElementById('Price').value = "{{Product.Price}}";
  document.getElementById('cart').submit();
  window.alert("{{Product.Name}} added to cart sucessfully!");
}
</script>
<script>
  $(document).ready(function () {
    $('.slider').slider();
  });
</script>
{%endblock%}