<!DOCTYPE html>
<html>

<head>
  {%load static%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/materialize.css'%}">
  <link rel="stylesheet" href="{%static 'css/index.css'%}">
</head>
<title>{%block title%}{%endblock%}</title>


<body style="font-family: 'Montserrat', sans-serif;">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="https://gamer-zoned.herokuapp.com/Desktops/Gaming">Gaming Desktops</a></li>
    <li><a href="https://gamer-zoned.herokuapp.com/Desktops/Workstation">Workstation Desktops</a></li>
    <li><a href="https://gamer-zoned.herokuapp.com/Desktops/Domestic">Domestic Desktops</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="https://gamer-zoned.herokuapp.com/Laptops/Gaming">Gaming Laptops</a></li>
    <li><a href="https://gamer-zoned.herokuapp.com/Laptops/Domestic">Domestic Laptops</a></li>
  </ul>
  {% if user.is_authenticated %}
  <ul id="User" class="dropdown-content">
    <li style="padding: 5px;">Hello, {{user.get_username}}</li>
    <li><a href="{%url 'Dashboard'%}">Dashboard</a></li>
    <li><a href="{%url 'Cart'%}">Your Cart</a></li>
    <li><a href="{%url 'Wishlist'%}">Your WishList</a></li>
    <li><a href="{%url 'Orders'%}">Your Orders</a></li>
    <li><a href="{%url 'Comments'%}">Your Comments</a></li>
    <li><a href="{%url 'logout'%}">Logout</a></li>
  </ul>
  {%else%}
  <ul id="User" class="dropdown-content">
    <li><a href="{%url 'login'%}">Login</a></li>
  </ul>
  {%endif%}


  <div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper">
        <a href="https://gamer-zoned.herokuapp.com/" class="brand-logo" style="padding-left: 10px;">Gamer-Zoned</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desktops<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Laptops<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li style="padding-right: 10px;width: 150px;" ><a class="dropdown-trigger" data-target="User"><i
                class="material-icons">account_box</i></a></li>

            </ul>
      </div>
  </div>
  </nav>
  </div>
  {% if messages %}
  {%for i in messages%}
  <br>
  <div class="alert alert-{%if i.tags == "error"%}danger{%else%}success{%endif%}" id="msg" role="alert" style="margin-left: 20%;margin-right: 20%;">
    {{ i }}
</div>
  {%endfor%}
  {%endif%}

  {%block content%}
  {%endblock%}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>

<script>
    const eledropdown = document.querySelectorAll(".dropdown-trigger")
    const instances = M.Dropdown.init(eledropdown, {
      coverTrigger: false
    })
  </script>

</body>

</html>